/* ************************************* */
/* GENERAL*/

html{
  background-image: url("images/background.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body, *{
    box-sizing: border-box;
    margin: 0;
	font-size: .5rem;
}

.container, input{
	width: 1200px;
	margin: auto;
	font-family: 'Open Sans', sans-serif;
 
	
}

h1{
    font-size: 50px;
    color:#0E1559;
    font-family: 'Signika Negative', sans-serif;
}

h2, h3{
  font-family: 'Signika Negative', sans-serif;
    font-size: 24px;
  
}

/* ************************************* */
/* HEADER */

header {
	text-align: left;
  
}


nav ul {
	display: flex;
	justify-content: space-evenly;
	list-style: none;
	padding: .5rem 0;
    margin-top: -50px;
    background-color: #FFCC90;
}

nav a {
	color: #0E1559;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 2.2rem;
	display: inline-block;
	padding: 1rem 2.5rem;
  font-family: 'Signika Negative', sans-serif;
}

nav a:hover, 
nav a:focus {
	color: #0E1559;
    /* ajout d'un outline au passage de la souris en pseudo class */
    outline: 2px solid #0E1559;
}

/* ************************************* */
/* SEARCH-FORM MAIN - PAGE D'ACCUEIL*/

.search-form-grid{

    /* bloc qui va contenir le formulaire ET l'image */
    /* background-color: #BDF3E5; */
    
   
    
  
    padding-top: 2rem;
  justify-items: center;
    color:white;
    display: grid;

    /* création d'un grid de 2 colonnes */
    grid-template-columns: 1fr 1fr; 
   
}

.search-form-grid{
  background-color: #FFCC90;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.form-main{
   /* bloc qui entoure le formulaire */
    border: 2px solid #0E1559;
    border-radius: 10px;
    /* Permet d'aligner le contenu dans le bloc*/
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 4rem 3rem 0rem 3rem; 
    margin: auto;
}


label{
    color: #0E1559;
    font-size: 2.2rem;
    line-height: 4rem;
   
  
}

input, select{
    width: 100%;
    height: 50px;
    border-radius: 15px;
    margin-bottom: 4rem;
    font-size: 2rem;


}

.container-btn{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  
}

.btn-form{
  background-color: #0E1559;
  color: white;
  width: 200px;
  
}

.imageVoisins{
/* Permet d'aligner le contenu dans le bloc*/
display: flex;
align-items: center;
flex-direction: column;
padding: 0rem 4rem 4rem 0rem; 
margin: auto;

}

.voisins{
    grid-column: 2;
    width: 550px;
    border-radius: 10px;
}

.h2form{
    text-align: center;
    padding-bottom: 5rem;
    color:#0E1559;
}


/* ************************************* */
/* SECTION CARROUSSEL*/

h1{
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.carousel {
    width: 100%;
    height: 300px;
    /* overflow assure que que tout ce qui dépasse la largeur est masqué */
    overflow: hidden;
    position: relative;
  }
  
  .carousel-inner {
    display: flex;

    width: 300%;

    height: 100%;
    /* animation: slide 120s infinite; */
    animation: carousel-scroll 120s linear infinite;

  }
  
  .carousel-inner img {
    width: 33.33%;
    height: 100%;
    object-fit: cover;
  }
  
  @keyframes carousel-scroll {
    0% {
      transform: translateX(0);
    }
    33.33% {
      transform: translateX(100%);
    }
    66.66% {
      transform: translateX(200%);
    }
    100% {
      transform: translateX(0);
    }
  }
